body {
    min-width: 400px;
    max-width: 900px;
    margin: 20px auto;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14pt;
}
table {
    width: 100%;
}
td {
    padding: 5px;
    border: 1px solid gray;
}
pre {
    padding: 10px;
    background: #eee;
    border: 1px solid black;
}
code {
    font-weight: bold;
}